<div class="login">
  <div class="row">
    <div class="col-6 login-left">
      <div class="">
        <h3>Admin Login</h3>
        <div class="login-left-img">
          <img src="assets/login.png" alt="">
        </div>
      </div>
    </div>
    <div class="col-6 login-right">
        <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()">
          <div class="login-form">
            <div class="login-form-row">
              <input type="text" placeholder="Username" formControlName="username">
            </div>
            <div class="login-form-row">
              <input
                type="password"
                id="doorkey"
                maxlength="10"
                placeholder="PIN & Token"
                formControlName="doorKey"
                (keyup)="dkChangeHandler($event)"
              >
            </div>
            <div class="login-form-row">
              <button type="submit" class="btn btn-full" [disabled]="loginFormGroup.valid && doorkeyLen === 10 || validating ? false : true">
                <span *ngIf="!validating">Login</span>
                <span *ngIf="validating">validating...</span>
              </button>
            </div>
            <small *ngIf="loginErr || serverErr" class="text-danger">Invalid Credentials</small>
            <!-- <small *ngIf="serverErr" class="text-danger">Unable to login, please try later.</small> -->
          </div>
        </form>
    </div>
  </div>
</div>
